@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    color: #4a4a4a;
    font-family: 'Roboto', sans-serif;
}

[class*='-img']{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); 
}

.wrapper {
    width: 70%;
    margin: auto;
}

.hero-wrapper {
    height: 95vh;
    position: relative;
}

nav {
    position: absolute;
    left: 15%;
    right: 15%;
    top: 0;
    width: 70%;
    padding: 1rem 0rem;
}

nav ul {
    display: flex;
}

nav li {
    margin-right: 2rem;
}

nav a {
    font-size: .9rem;
    font-weight: 500;
    color: ccc;
}

nav li:first-child a {
    color: #333;
}

.hero-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30%;
}

.hero-text h1 {
    font-size: 4.2rem;
    margin-bottom: .5rem;
    margin-top: 1rem;
}

.hero-text p {
    font-size: 1.5rem;
    line-height: 2.2rem;
    margin-bottom: 3rem;
}

.hero-text button {
    background: #fff;
    border: 1px solid #ccc;
    padding: 1rem 3rem;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 4px;
}

.hero-img {
    background-image: url('../img/2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    width:80%;
    height: 90%;
    margin-top: 4rem; /* custom */
}

.brands {
       margin-top: -3rem;
       z-index: 100;
       position: relative;
}

.brands .wrapper {
    background: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); 
    border-radius: 7px;
}

.brands .wrapper img {
    width: 20% !important;
    height: auto;
    padding: 0 .4rem;  /* custom */
}

.specifies {
    margin-top: 4rem;
}

.spec-grid.header-text {
    margin-bottom: 2.3rem;
}

.spec-grid.header-text p {
    font-size: .8rem;
    color: #ccc;
    line-height: 1.4rem;
    font-weight: 500;
}

.specifies h1 {
    font-size: 1.9rem;
    margin-bottom: .5rem;
}

.spec-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3.3rem;
    margin-bottom: 2rem;
}

.spec-item {
    box-shadow: 5px 5px 20px rgb(0, 0, 0,.2);
    border-radius: 8px;
}

.spec-item h2 {
    font-size: 1.3rem;
    margin-bottom: .5rem;
    text-shadow: 1px 1px #d3d3d3;
}

.spec-item p {
    font-size: .8rem;
    line-height: 1.4rem;
}

.ux-card p, .ui-card p {
    margin-bottom: 1.2rem;
}

.ui-card {
    background-image: url(../img/4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.ui-card .overlay {
    padding: 2rem;
    background: rgba(118 , 141, 217, 0.6);
    overflow-x: hidden;
}

.ux-card {
    background-image: url(../img/5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.ux-card .overlay {
    padding: 2rem;
    background: rgba(59 , 133, 239, 0.6);
    overflow-x: hidden;
}

.ui-card .overlay h1,
.ux-card .overlay h1,
.ui-card .overlay p,
.ux-card .overlay p{
    color: #fff;
}

.ui-card button,
.ux-card button { 
    background: transparent;
    padding: .8rem 3rem;
    border-radius: 5px;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid #fff;
    color: #fff;
}

.spec-content {
    padding: 2rem;
    text-align: center;
}

.work {
    margin-bottom: 8rem;
}

.work-grid {
    margin-top: 8rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.work-desc {
    padding-left: 30%;
    padding-right: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center ;
}

.work-desc h1,
.about-text h1,
.testimonials {
    font-size: 1.9rem;
    margin-bottom: .5rem;
}

.work-desc p,
.about-text p {
    font-size: .8rem;
    line-height: 1.7rem;
    margin-bottom: 1rem;
}

.work-desc p + p {
    margin-bottom: 4rem;
}

.work-desc button {
    background: transparent;
    padding: .8rem 3rem;
    border-radius: 5px;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid #ccc;
    color: #4a4a4a;
}

.about {
    height: 80vh;
    margin-bottom: 9rem;
}

.about-grid {
    height: 100%;
    display: grid;
    grid-template-columns: 40% 50%;
    grid-column-gap: 10%;
}

.about-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 30%;
}

.about-img {
    background-image: url(../img/3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-text small {
    display: inline-block;
    margin-top: 1.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Dancing Script';
}

.testimonials {
    padding-left: 15%;
    width: 100%;
    overflow-x: hidden;
}

.slider {
    margin-top: 3.2rem;
    padding: 1rem 0rem;
}

.single-slider {
    margin: 1.2rem;
    margin-bottom: 1.2rem;
    margin-right: 2.3rem;
    padding: 1.7rem;
    background: #fff;
    box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.single-slider:first-child {
    margin-left: 1rem;
}


.slide-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.slide-img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../img/female2.jpg);
    margin-right: 1rem;
}