@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display-swap');

:root {    
    --main-color: #aca45b;
    --color-pinkRed: #DD2F6E;
    --color-dark: #1D2231;
    --text-grey: #8390A2;
    --text-greydark: #4a4a4a; 
}

* {    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
    font-family: '新細明體', 'Poppins', sans-serif;
}

body {
    height: 1000px;
}

a {
    text-decoration: none;
}

.logo::before {
    content: '';
    position: fixed;
    background: url(../img/banner-a-e.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 44px;
    z-index: 200;
}

.sidebar-toggle {
    z-index: 201;
}

.sidebar {
    display: block;
    width: 163px;
    position: fixed;
    left: 0;
    top: 44px;
    height: 100%;
    background: #F7F7F9;
    /* z-index: 100; */ 
    transition: width 500ms;
}
 
.sidebar-menu * ,
.sidebar-User * {
    color: #ffffff;
    /*font-family: '新細明體', sans-serif;*/
    /* font-size: 11pt; */
    line-height: 150%;
    text-decoration: none;
    text-transform: none;
    cursor: pointer;
    
} 

.sidebar-User {
    display: flex;
    justify-content: left;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #ACA45B;
    border-bottom: 1px solid #e7e7e7;
    padding: 2px 4px;
}

.sidebar-menu ul {
    padding: 0;
}

.sidebar-menu ul li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e7e7e7;
    background-color: #ACA45B;
    padding: 2px 4px;    
}

.sidebar-menu ul li span.material-icons:hover {
    color: tomato;
}

/*.sidebar-menu ul li span.las {
    position: relative;
    top: -10px;
    font-size: 1.2rem;
}*/

.main {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 44px;
    margin-left: 163px;
    width: calc(100% - 163px);
    font-family: '新細明體', sans-serif;
    /* height: calc(100% - 58px); */
    transition: margin-left 500ms;
}

.main-content {
    padding-left: 10px;
}

.footer {
    position: fixed;
    top: calc(100% - 38px);
    /* left: 163px; */
    width: 100%;
    height: 38px;
    background-color: #BEC8E4;   
}

.search {
    display: flex;
    justify-content: left;
    align-items: center;
    padding:4px;
}
/* .search input:hover {
    

} */
.search input {
    outline: none;
    border: 1px solid var(--main-color);
    padding: 1px;
    margin: 0 2px;    
}
.search input[type=text] {
    width: 110px;
}
.search input[type=button] {
    padding: 0px 4px;
    background: var(--main-color);
    color: #fff;
    letter-spacing: 2px;
    width: 60px;
    transition: 0.5s;
}

.search input[type=button]:hover {
    letter-spacing: 6px;
}

.search input[type=button]:focus {
    background-color: #7c7a63a8;    
}

header {
    position: fixed;
}

ul.navigation {
    display: flex;
    justify-content: left;
    justify-items: center;
    list-style: none;
    background-color: #aca45b;
    flex-wrap: wrap;
    flex-direction: row;
}

ul.navigation > li {
    padding: 4px 12px;
    border: 1px solid #e7e7e7;    
    cursor: pointer;
}

ul.navigation li span,
ul.navigation li a {
    color: #ffffff;
}

ul.submenu {
    display: none;
    padding: 0;    
    background-color: #ACA45B;    
    cursor: pointer;
}

ul.navigation li:hover ul.submenu,
ul.submenu:hover {    
    position: absolute;
    top: 21px;
    left: 6px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    z-index: 99;
}


ul.submenu > li {
    display: inline-block;
    padding: 4px 12px;    
    border-bottom: 1px solid #e7e7e7;
}
ul.submenu > li > a:hover {
    color: var(--color-dark);
}

ul.navigation li:hover,
ul.submenu > li:hover {
    background-color: #bec8e452;
}


.sidebar-toggle {
    display: inline-block;
    position: fixed;
    right: 10px;
    top: 6px;
}

.sidebar-toggle h2 label {
    background: var(--main-color);
    padding-right: 0rem;
    margin-right: 1rem;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center !important;
    cursor: pointer;
}

.sidebar-toggle h2 label:hover {
    background-color: #7c7a63a8;    
}

@media only screen and (max-width: 1200px) {
    
}
@media only screen and (max-width: 768px) {

    .sidebar {
        width: 0px;
        transition: 0.5s;
        font-size: 1.1rem;
        overflow: auto;
    }

    #nav-toggle:checked + .sidebar {
        left: 0 !important;
        z-index: 102;
        width: 163px;
    }

    #nav-toggle:checked ~ .main {
        margin-left: 0rem !important;
    }

    .main {
        z-index: 101;
        margin-left: 0px;
        background: #fff;
        transition: 0.5s;
    }

    .sidebar-toggle {
        display: inline-block;
    }
    
    .footer { 
        top: calc(100% - 28px);
        height: 28px;
    }

    .search {
        display: flex;
        justify-content: left;
        align-items: center;
        flex-direction: row;
    }
}
@media only screen and (max-width: 560px) {

    .sidebar {
        width: 0px;
        transition: 0.5s;
        font-size: 1rem;
        overflow: auto;
    }

    .main {
        z-index: 101;
        margin-left: 0px;
        background: #fff;
        transition: 0.5s;
    }

    #nav-toggle:checked ~ .main-content {
        margin-left: 0rem !important;
    }

    .sidebar-toggle {
        position: fixed;
        right: 10px;
        top: 10px;
    }

    .footer { 
        top: calc(100% - 28px);
        height: 28px;
    }
    .search {
        display: flex;
        justify-content: left;
        align-items: center;        
        flex-direction: row;
    }
}