@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display-swap');

:root {    
    --main-color: #aca45b;
    --color-pinkRed: #DD2F6E;
    --color-dark: #1D2231;
    --color-background: #f6f6f6;
    --color-sidebar-background: #eee;
    --text-grey: #8390A2;
    --text-greydark: #4a4a4a; 
}

* {    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
    font-family: '微軟正黑體', '新細明體', 'Poppins', sans-serif;
}

body {
    height: 1000px;
    color: #222;
    background-color: #fbfcfd;
    background-image: url(../img/background.png);
    background-repeat: repeat-x;
}

a {
    text-decoration: none;
}

#logo::before {
    content: '';
    position: fixed;
    background: url(../img/banner-a-e.jpg);
    background-repeat: no-repeat;
    color: transparent;
    width: 100%;
    height: 44px;
    z-index: 100;
}
/* .sidebar-toggle {
    z-index: 201;
} */

.sidebar {
    display: block;
    width: 220px;
    position: fixed;
    left: 0;
    top: 43px;
    height: 100%;
    background: #F7F7F9;
    
    /* transition: width 500ms; */
    /* z-index: 201; */
}
 /*
 .sidebar-menu * , */
.sidebar-User * {
    color: #ffffff;
    line-height: 150%;
    text-decoration: none;
    text-transform: none;
    cursor: pointer;    
} 

.sidebar-User {
    display: flex;
    justify-content: left;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #ACA45B;
    border-bottom: 1px solid #e7e7e7;
    padding: 2px 4px;
}

/* jquery UI Accordian  */
/* .ui-accordion  */
.ui-accordion-header {
    background-color: #ACA45B;
}
.ui-accordion h3.ui-accordion-header span,
.sidebar h3.ui-accordion-header > span > a,
.ui-accordion h3.ui-accordion-header > span > a {
    color: #ffffff;
}
.ui-accordion .ui-state-active {
    border: 1px solid #003eff;
    background: #007fff77;
    font-weight: normal;
    color: #ffffff;
}
.ui-accordion .ui-accordion-header{
    margin: 0;
}

.main {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 44px;
    margin-left: 220px;
    width: calc(100% - 220px);
    font-family: '微軟正黑體', '新細明體', sans-serif;
    /* height: calc(100% - 58px); */
    transition: margin-left 500ms;
}

.main-content {
    /* display: none; */
    padding-left: 10px;    
}

.footer {
    display: flex;
    justify-content: left;
    align-items: center;
    position: fixed;
    /* top: calc(100vh-38); */
    width: 100%;
    height: 38px;
    background-color: #BEC8E4;
    bottom: 0px;
}

.search {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    padding:4px;
}

.search input {
    outline: none;
    border: 1px solid var(--main-color);
    padding: 1px;
    margin: 0 2px;    
}

.search input[type=button] {
    padding: 0px 4px;
    background: var(--main-color);
    color: #fff;
    letter-spacing: 2px;
    width: 60px;
    transition: 0.5s;
}

.search input[type=button]:hover {
    letter-spacing: 6px;
}

.search input[type=button]:focus {
    background-color: #7c7a63a8;    
}

header {
    position: fixed;
}

div.navigation {
    display: flex;
    flex-direction: row;
}

div.navigation > h3 {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding: 4px 12px;
    border: 1px solid #e7e7e7;
    cursor: pointer;
    flex-wrap: nowrap;
    white-space: nowrap;
    font-weight: normal;
    font-size: 100%;
}

div.navigation > div.header-nav {    
    display: none;
}

div.navigation h3,
div.navigation h3 span a {
    background-color: #ACA45B;
    color: #fff;
}

.material-icons:hover,
.sidebar h3:hover,
.sidebar h3 span a:hover,
div.navigation h3:hover,
div.navigation h3 span a:hover {
    color: var(--color-pinkRed);
}

/*div.navigation h3:hover div.navigation > div.submenu
 div.navigation h3 div.submenu:hover*/
 div.navigation > div.submenu.visible {
    display: flex;
    position: absolute;
    top: 21px;
    left: 6px;    
    flex-wrap: nowrap;
    z-index: 99;
}

.sidebar-User{
    display: flex;
    justify-content: inherit;
    flex-direction: column;
    justify-items: center;
    padding: 4px 12px;
    border: 1px solid #e7e7e7;
    cursor: pointer;
    flex-wrap: wrap;
}
div.sidebar-menu > h3 {
    display: flex;
    justify-content: inherit;
    flex-direction: row;
    justify-items: center;
    padding: 4px 12px;
    border: 1px solid #e7e7e7;
    cursor: pointer;
    flex-wrap: wrap;    
} 

div.navigation > div.submenu,
.ui-accordion > div.submenu {
    display: none;
    justify-content: space-between;
    flex-direction: column;
    padding: 6px 0px;
    /* background-color: #ACA45B; */
    /* color: #fff; */
    /* border: 1px solid #e7e7e7; */
    cursor: pointer;
}
div.navigation > div.submenu {
    background-color: #ACA45B;
}

div.sidebar-menu > div.submenu{
    background-color: #fff;    
}

div.sidebar-menu > div.submenu span a {
    color: var(--color-dark);
}

div.sidebar-menu > div.submenu span a:hover {
    color: var(--color-pinkRed);
}

div.navigation > div.submenu span a {
    color: #fff;
}

/* 
div.navigation h3 span,
div.navigation h3 a,
div.submenu span {
    color: #ffffff;
}
 */
/*
.sidebar div.submenu {
    display: none;   
    visibility: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;    
    background-color: #ACA45B;    
    cursor: pointer;
    position: absolute;
    z-index: -99;    
}

div.navigation h3:hover div.submenu,
div.navigation h3 div.submenu:hover {    
    position: absolute;
    top: 21px;
    left: 6px;    
    flex-wrap: nowrap;
    z-index: 99;
}




*/

div.submenu > span {
    padding: 4px 12px;    
    border-bottom: 1px solid #e7e7e7;
}

div.submenu > span > a:hover {
    color: var(--color-dark);
}

/* div.navigation h3:hover, */
div.submenu > span:hover {
    background-color: #bec8e452;
}

.sidebar-toggle {
    display: none;
    position: relative;
    right: 2px;
    top: 0px;
}
.menu-toggle {
    /* display: none; */
    position: relative;
    right: 40px;
    top: 0px;
}

.sidebar-toggle h3 label:hover,
.menu-toggle:hover {
    background-color: #7c7a63a8;    
}

.menu-toggle h3 label {
    padding: 0 0.4rem;
    /* margin: 0 0.6rem; */
    height: 32px;
    width: 108px;
    /* border-radius: 8%; */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center !important;
    cursor: pointer;
    font-size: 88%;
}

.selected-menu-toggle, .selected-menu-toggle h3 label {
    color:black;
    background: var(--color-background);
}

.sidebar-toggle h3 label {
    background: var(--main-color);
    padding-right: 0rem;
    margin-right: 1rem;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center !important;
    cursor: pointer;
}


.search input[type=text] {
    width: 200px;
}

.search,
.search input {
    font-size: 1.1rem;
}

input[type=checkbox]#sidebar-toggle,
input[type=checkbox]#menu-toggle {
    /* visibility: hidden; */
    display: none;
}

.sticky {
    position: fixed;
    top: 44px;
    left: 0;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}
 
[aria-hidden=true] .ui-accordion-header-icon{
    /* display: none; */
    visibility: hidden;
}

h3 > .material-icons {
    right: 10px;
    position: absolute;
}
/*
[aria-hidden=false] {
    display: block;
} */

.accordian-active {
    z-index: 999;
    position: absolute;
    /* display: flex !important; */
    justify-content: center;
    flex-direction: column;
}

.main {
    /* display: none; */
}
.tabBar a.btn {
    display: inline-block;
    color: #000000;
    font-size: 1.1rem;
    font-weight: normal;
    background-color: #8FA0D1;
    cursor: hand;
    border-right: 1px solid #C4BAAE;
    border-bottom: 1px solid #C4BAAE;
    padding: 6px 4px;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}

.tabBar a.btn:hover {
    letter-spacing: 3px;
}

.menu-container {
    width: 100%;
    position: fixed;
    display: none;
    background-color: var(--color-background);
    padding-top: 0px;
    z-index: 101;
    width: 100%;
    top: 76px;
}

.menu-container-close {
    position: absolute;
    top: 6px;
    right: 0px;
    height: 32px;
    width: 32px;
}

.flip {
    color: var(--color-pinkRed);
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}
#accordion_menu {
    position: relative;
    top: 6px;
    margin: 20px 40px;
}

.sidebar-close {
    position: fixed;
    top: 0;    
    left: 0 !important;
}

.sidebar-close {
    height: 42px;
    width: 100%;
    border: 1px solid var(--color-background);
    background: #f6f6f6;
}

.sidebar-close h3 {
    position: relative;
    top: 6px;
}

.sidebar-close h3 span {
    border: 1px solid #CCCC99;
    border-radius: 6px;
    font-size: 1.8rem;
    color: #CCCC99;
}

.toggle-container {
    display: none;
    position: fixed;
    justify-content: flex-end;
    top: 44px;
    background-color: var(--main-color);
    width: 100%;
    z-index: 101;
}
section {
    display: none;
}

/*------------ / mobile_menu ------------*/

@media screen and (max-width: 1280px) {

}
@media only screen and (max-width: 1100px) {
    
}
@media only screen and (max-width: 768px) {

    .sidebar-left {        
        position: fixed;
        top: 0;    
        left: 0 !important;
        background: #615454AA;
        height: 100vh;
        width: 0px;
        /* transition: width 0.5s; */
        font-size: 1.1rem;
        overflow-y: auto;
    }
    
    .sidebar-left {        
        z-index: 401;
    }
    
    .sidebar-close, .sidebar {
        width: 360px;
        z-index: 402;
    }

    #menu-toggle:checked + .menu-container {
        display: block;
    }

    #menu-toggle:checked ~ .main {
        display: none !important;
    }
/*
    #sidebar-toggle:checked + .sidebar-left{
        width: 100%;
    }
    
    #sidebar-toggle:checked ~ .main {
        margin-left: 0rem !important;
    }
*/
    .main {
        margin-left: 0px;
        background: #fff;
        width: 100%;
    }

    .sidebar-toggle,
    .menu-toggle {
        display: inline-block;
    }
    

    .footer {
        height: 36px;
    }

    .search {
        display: flex;
        justify-content: left;
        align-items: center;
        flex-direction: row;
    }
}
@media only screen and (max-width: 560px) {

    /* .sidebar {
        width: 0px;
        transition: 0.5s;
        font-size: 1.1rem;
        overflow-y: auto;
    } */

    .main {
        margin-left: 0px;
        background: #fff;
        transition: 0.5s;
    }
/* 
    #sidebar-toggle:checked ~ .main {
        margin-left: 0rem !important;
    } */

    .search input[type=text] {
        width: 137px;
    }

    .search,
    .search input {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 460px) {

    .search input[type=text] {
        width: 127px;
    }
}